<div class="card">
  <h2>Crear una nueva publicación 🚀</h2>
  <%= render 'form', preguntum: @preguntum %>
</div>
<%= link_to '← Volver atrás', pregunta_path, style: "color: var(--text-secundario);" %>
